@{
    ViewBag.Title = "Home Page";
}

<!-- Slideshow -->
<div id="slider2" class="impx-slider style2">
    <div class="slider2 owl-carousel owl-theme">
        <!-- Slide Item 1 -->
        <div class="slide-item p-lg-5 p-3 bg-gradient-5">
            <!-- Slide Caption -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="slide-caption mt-lg-4">
                        <h2 class="mb-lg-2 mb-sm-2 mb-3 text-lg-left text-center" data-animation-in="flipInY" data-animation-out="animate-out flipOutY">Slideshow Title Goes Here</h2>
                        <p class="impx-lead mb-lg-3 desc d-lg-block d-md-block d-sm-block d-none text-lg-left text-center" data-animation-in="fadeInUpBig" data-animation-out="animate-out fadeOutUpBig">Quid igitur dubitamus in tota eius natura quaerere quid auctoritatem cum animi partibus, parandam habent.</p>
                        <p class="text-muted mb-lg-4 sub-desc d-lg-block d-md-none d-sm-none d-none text-lg-left text-center" data-animation-in="fadeInDownBig" data-animation-out="animate-out fadeInUpBig">Quid igitur dubitamus in tota eius natura quaerere quid sit effectum? Iam quae corporis sunt, ea nec auctoritatem cum animi, comparandam Ut placet, inquit, etsi enim illud erat aptius, aequum cuique concedere</p>
                        <button type="button" class="btn btn-sm btn-light mr-lg-2 text-muted d-lg-inline d-md-none d-sm-none d-none" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutRight">Learn more <i class="fa fa-arrow-circle-o-right"></i></button>
                        <button type="button" class="btn btn-sm btn-warning d-lg-inline d-md-none d-sm-none d-none" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutLeft">Learn more <i class="fa fa-arrow-circle-o-right"></i></button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="slide-img mt-lg-4">
                        <!-- Slide Image -->
                        <img src="~/images/slide/undraw_posting_photo_v65l.svg" alt="" class="img-fluid svg-img mx-md-auto d-md-block mx-sm-auto d-sm-block mx-auto d-block" data-animation-in="fadeInRightBig" data-animation-out="animate-out fadeOutRightBig">
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item  p-lg-5 p-3  bg-gradient-7">
            <!-- Slide Item 2 -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="slide-img mt-lg-4">
                        <!-- Slide Image -->
                        <img src="~/images/slide/undraw_following_q0cr.svg" alt="" class="img-fluid svg-img mb-3 mx-md-auto d-md-block mx-sm-auto d-sm-block mx-auto d-block" data-animation-in="fadeInDownBig" data-animation-out="animate-out fadeOutDownBig">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="slide-caption mt-lg-5">
                        <!-- Slide Caption -->
                        <h2 class="mb-lg-3  mb-sm-2 text-white text-lg-left text-center" data-animation-in="fadeInRightBig" data-animation-out="animate-out fadeOutRightBig">Slideshow Title Goes Here</h2>
                        <p class="impx-lead text-light desc d-lg-block d-md-block d-sm-block d-none text-lg-left text-center" data-animation-in="fadeInLeftBig" data-animation-out="animate-out fadeInLeftBig">Quid igitur dubitamus in tota eius natura quaerere quid auctoritatem cum animi partibus, parandam habent.</p>
                        <p class="text-xlight sub-desc d-lg-block d-md-none d-sm-none d-none text-lg-left text-center" data-animation-in="fadeInUpBig" data-animation-out="animate-out fadeOutUpBig">Itaque dicunt nec dubitant: mihi sic usus est, tibi ut opus est facto, fac. confusioque virtutum tamen a philosophis ratione quadam distinguitur</p>
                        <button type="button" class="btn btn-sm btn-outline-light d-lg-block d-md-none d-sm-none d-none" data-animation-in="bounceInRight" data-animation-out="animate-out fadeOutLeft">Learn more <i class="fa fa-arrow-circle-o-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item p-lg-5 p-3 bg-gradient-3">
            <!-- Slide Item 3 -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="slide-caption mt-lg-4">
                        <!-- Slide Caption -->
                        <h2 class="mb-lg-2 mb-sm-2 mb-3 text-white text-lg-left text-center" data-animation-in="fadeInDownBig" data-animation-out="animate-out fadeOutDownBig">Slideshow Title Goes Here</h2>
                        <p class="impx-lead small text-xlight desc d-lg-block d-md-block d-sm-block d-none text-lg-left text-center" data-animation-in="fadeInUpBig" data-animation-out="animate-out fadeOut">Negare non possum. Aliam vero vim voluptatis esse, aliam nihil dolendi, nisi valde pertinax fueris, concedas necesse est. Quem enim ardorem studii censetis fuisse in Archimede, qui dum in pulvere quaedam describit attentius, ne patriam quidem captam esse senserit?</p>
                        <div class="row">
                            <div class="col-lg-6  d-lg-inline d-md-none d-sm-none d-none">
                                <ul class="list-checked text-xlight" data-animation-in="fadeInLeftBig" data-animation-out="animate-out fadeOutLeftBig">
                                    <li>Sed cum ea, quae praeterierunt</li>
                                    <li>Sed quid attinet de rebus</li>
                                    <li>Manliana vestra aut maiora </li>
                                    <li>Erit enim instructus ad mortem</li>
                                    <li>Sironem dicis et Philodemum</li>
                                </ul>
                            </div>
                            <div class="col-lg-6  d-lg-inline d-md-none d-sm-none d-none">
                                <ul class="list-checked text-xlight" data-animation-in="fadeInRightBig" data-animation-out="animate-out fadeOutRightBig">
                                    <li>Sed cum ea, quae praeterierunt</li>
                                    <li>Erit enim instructus ad mortem</li>
                                    <li>Sironem dicis et Philodemum</li>
                                    <li>Sed quid attinet de rebus</li>
                                    <li>Manliana vestra aut maiora </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="slide-img mt-lg-4">
                        <!-- Slide Image -->
                        <img src="~/images/slide/undraw_timeline_9u4u.svg" alt="" class="img-fluid svg-img mx-md-auto d-md-block mx-sm-auto d-sm-block mx-auto d-block" data-animation-in="zoomIn" data-animation-out="animate-out zoomOut">
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item  p-lg-5 p-3 bg-gradient-4">
            <!-- Slide Item 4 -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="slide-caption mt-lg-2">
                        <!-- Slide Caption -->
                        <h2 class="mb-lg-2  mb-sm-2 mb-3 text-lg-left text-center" data-animation-in="flipInY" data-animation-out="animate-out fadeOutUp">Slideshow Title Goes Here</h2>
                        <p class="impx-lead mb-lg-3 desc d-lg-block d-md-block d-sm-block d-none text-lg-left text-center" data-animation-in="flipInX" data-animation-out="animate-out fadeOutLeft">Quid igitur dubitamus in tota eius natura quaerere quid auctoritatem cum animi partibus, parandam habent.</p>
                        <p class="text-muted mb-lg-4 sub-desc d-lg-block d-md-none d-sm-none d-none text-lg-left text-center" data-animation-in="lightSpeedIn" data-animation-out="animate-out fadeOut">Quid igitur dubitamus in tota eius natura quaerere quid sit effectum? Iam quae corporis sunt, ea nec auctoritatem cum animi, comparandam Ut placet, inquit, etsi enim illud erat aptius, aequum cuique concedere</p>
                        <button type="button" class="btn btn-sm btn-dark mr-lg-2 d-lg-inline d-md-none d-sm-none d-none" data-animation-in="bounceInLeft" data-animation-out="animate-out fadeOutRight">Learn more <i class="fa fa-arrow-circle-o-right"></i></button>
                        <button type="button" class="btn btn-sm btn-warning d-lg-inline d-md-none d-sm-none d-none" data-animation-in="bounceInRight" data-animation-out="animate-out fadeOutLeft">Learn more <i class="fa fa-arrow-circle-o-right"></i></button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="slide-img mt-lg-2">
                        <!-- Slide Image -->
                        <img src="~/images/slide/undraw_checking_boxes_2ibd.svg" alt="" class="img-fluid svg-img mx-md-auto d-md-block mx-sm-auto d-sm-block mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slideshow End -->
<!-- Features Box -->
<div class="impx-features-box p-lg-3 p-md-3 p-2 py-3">
    <div class="impx-overlay transparent pattern-minimalist-3"></div>
    <div class="row feature-items">
        <div class="col-lg col-sm-6 px-lg-3 px-2">
            <!-- Feature Item 1 -->
            <div class="feature-item pb-lg-0 pb-3 mb-lg-0 mb-md-3 mb-sm-0 mb-3">
                <i class="fa fa-signal fa-sm float-left text-white mt-lg-0 mr-lg-2 mr-2"></i><h5 class="text-white">Economy</h5>
                <p class="">Lorem ipsum dolor sit, consectetur adipiscing elitsem fermentum mattis</p>
            </div>
        </div>
        <div class="col-lg col-sm-6 px-lg-3 px-2">
            <!-- Feature Item 2 -->
            <div class="feature-item pb-lg-0 pb-3 mb-lg-0 mb-md-3 mb-sm-0 mb-3">
                <i class="fa fa-globe fa-sm float-left text-white mt-lg-0 mr-lg-2 mr-2"></i><h5 class="text-white">Ecology</h5>
                <p class="">Lorem ipsum dolor sit, consectetur adipiscing elitsem fermentum mattis</p>
            </div>
        </div>
        <div class="col-lg col-sm-6 px-lg-3 px-2">
            <!-- Feature Item 3 -->
            <div class="feature-item pb-lg-0 pb-3 mb-lg-0 mb-md-3 mb-sm-0 mb-3">
                <i class="fa fa-universal-access fa-sm float-left text-white mt-lg-0 mr-lg-2 mr-2"></i><h5 class="text-white">Equity</h5>
                <p class="">Lorem ipsum dolor sit, consectetur adipiscing elitsem fermentum mattis</p>
            </div>
        </div>
        <div class="col-lg col-sm-6 px-lg-3 px-2">
            <!-- Feature Item 4 -->
            <div class="feature-item pb-lg-0 pb-3 mb-lg-0 mb-md-3 mb-sm-0 mb-3">
                <i class="fa fa-recycle fa-sm float-left text-white mt-lg-0 mr-lg-2 mr-2"></i><h5 class="text-white">Connectivity</h5>
                <p class="">Lorem ipsum dolor sit, consectetur adipiscing elitsem fermentum mattis</p>
            </div>
        </div>
    </div>
</div>
<!-- Features Box End -->
<!-- Content -->
<div class="impx-content p-lg-4 m-lg-2 p-3 m-2">
    <div class="row mb-lg-2">

        <!-- Main Content -->
        <div class="col-lg-8-5">
            <div class="impx-intro hp mb-lg-4 mb-md-4 mb-sm-4 mb-4">
                <h3 class="mb-lg-2">Welcome to Ecobiz HTML Template</h3>
                <p class="lead impx-lead small mb-lg-3 text-muted">Bona autem corporis huic sunt, quod posterius posui, similiora. Levatio igitur vitiorum magna fit in iis, qui habent ad virtutem progressionis aliquantum. Illi enim. Philosophi autem in lectulis plerumque moriuntur. Pugnant Stoici cum Peripateticis argumenta propria videamus inter.</p>
            </div>

            <div class="impx-hp-hl mb-lg-0">
                <div class="row">
                    <div class="col-lg col-sm-6 mb-3">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="wrap-svg">
                                    <img src="~/images/svg/undraw_bookmarks_r6up.svg" alt="" class="mt-lg-3 mb-3 img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <h5 class="mb-lg-2 text-green">About Us</h5>
                                <p>Itaque haec cum illis dissensio, cum Peripateticis nulla sane ita relinquet, de quibus etiam </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg col-sm-6 mb-3">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="wrap-svg">
                                    <img src="~/images/svg/undraw_features_overview_jg7a.svg" alt="" class="mt-lg-3 mb-3 img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <h5 class="mb-lg-2 text-green">Our Services</h5>
                                <p>Itaque haec cum illis dissensio, cum Peripateticis nulla sane ita relinquet, de quibus etiam </p>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 mb-lg-2"></div>
                    <div class="col-lg col-sm-6 mb-3">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="wrap-svg">
                                    <img src="~/images/svg/undraw_timeline_9u4u.svg" alt="" class="mt-lg-3 mb-3 img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <h5 class="mb-lg-2 text-green">Our Works</h5>
                                <p>Itaque haec cum illis dissensio, cum Peripateticis nulla sane ita relinquet, de quibus etiam </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg col-sm-6 mb-3">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="wrap-svg">
                                    <img src="~/images/svg/undraw_work_chat_erdt.svg" alt="" class="mt-lg-3 mb-3 img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <h5 class="mb-lg-2 text-green">Our Products</h5>
                                <p>Itaque haec cum illis dissensio, cum Peripateticis nulla sane ita relinquet, de quibus etiam </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Highlights End -->
        </div>
        <!-- Main Content End -->
        <!-- Side Info-->
        <div class="col-lg-3-5 mb-lg-0 mb-4">
            <div class="card shadow-sm border-xlight">
                <img src="~/images/content/hp-img.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-lg-2">the Office</h5>
                    <p class="card-text mb-lg-3">Quorum omnium quae sint notitiae, mollitia ortu inest teneritas mollitia quaedam, ut res videre optimas?</p>
                    <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">view more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                </div>
            </div>
        </div>
        <!-- Side Info End -->

    </div>
    <!-- Main Content End -->
    <!-- Fun= Facts -->
    <div class="row feature-items feature-items bg-light pattern-minimalist-4 pt-lg-3 pb-lg-2 px-lg-2 py-md-3 px-md-2 py-sm-3 px-sm-2 py-3 rounded-lg shadow-sm border-xlight mb-lg-4">

        <div class="col-lg-4">
            <div class="intro">
                <!-- Intro -->
                <h5 class="mb-lg-1">Our Fun Facts</h5>
                <p class="mb-lg-0 mb-md-3 mb-sm-3 mb-3 text-muted">Beatus autem esse in maximarum rerum timore nemo potest. Eodem modo is enim expetendum.</p>
            </div><!-- Intro End -->
        </div>

        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg col-sm-6">
                    <div class="feature-item mt-lg-1 mb-3 light">
                        <!-- Fact 1 -->
                        <div class="row">
                            <div class="col-lg-4 col-md-2 col-sm-3 col-3">
                                <i class="fa fa-3x fa-globe mb-lg-2 float-left mt-lg-2 mt-2"></i>
                            </div>
                            <div class="col-lg-8 col-md-10 col-sm-9 col-9">
                                <h2 class="mx-lg-0 mb-lg-0 mb-0"><span class="timer" data-from="0" data-to="16" data-speed="2000" data-refresh-interval="50"></span></h2>
                                <p class="impx-lead text-muted m-lg-0 text-uppercase">Countries</p>
                            </div>
                        </div>
                    </div><!-- Fact 1 End -->
                </div>
                <div class="col-lg col-sm-6">
                    <div class="feature-item mt-lg-1 mb-3 light">
                        <!-- Fact 2 -->
                        <div class="row">
                            <div class="col-lg-4 col-md-2 col-sm-3 col-3">
                                <i class="fa fa-3x fa-building mb-lg-2 float-left mt-lg-2 mt-2"></i>
                            </div>
                            <div class="col-lg-8 col-md-10 col-sm-9 col-9">
                                <h2 class="mx-lg-0 mb-lg-0 mb-0 "><span class="timer" data-from="0" data-to="64" data-speed="2000" data-refresh-interval="50"></span></h2>
                                <p class="impx-lead text-muted m-lg-0 text-uppercase">Branches</p>
                            </div>
                        </div>
                    </div><!-- Fact 2 End -->
                </div>
                <div class="col-lg col-sm-6">
                    <div class="feature-item mt-lg-1 mb-3 light">
                        <!-- Fact 3 -->
                        <div class="row">
                            <div class="col-lg-4 col-md-2 col-sm-3 col-3">
                                <i class="fa fa-3x fa-trophy mb-lg-2 float-left mt-lg-2 mt-2"></i>
                            </div>
                            <div class="col-lg-8 col-md-10 col-sm-9 col-9">
                                <h2 class="mx-lg-0 mb-lg-0  mb-0">#<span class="timer" data-from="0" data-to="10" data-speed="2000" data-refresh-interval="50"></span></h2>
                                <p class="impx-lead text-muted m-lg-0 text-uppercase">Top Ranked</p>
                            </div>
                        </div>
                    </div><!-- Fact 3 End -->
                </div>
                <div class="col-lg col-sm-6">
                    <div class="feature-item border-0 mt-lg-1 mb-3 light">
                        <!-- Fact 4 -->
                        <div class="row">
                            <div class="col-lg-4 col-md-2 col-sm-3 col-3">
                                <i class="fa fa-3x fa-code mb-lg-2 float-left mt-lg-2 mt-2"></i>
                            </div>
                            <div class="col-lg-8 col-md-10 col-sm-9 col-9">
                                <h2 class="mx-lg-0 mb-lg-0  mb-0"><span class="timer" data-from="0" data-to="320" data-speed="2000" data-refresh-interval="50"></span></h2>
                                <p class="impx-lead text-muted m-lg-0 text-uppercase">Projects</p>
                            </div>
                        </div>
                    </div><!-- Fact 4 End -->
                </div>
            </div>
        </div>

    </div>
    <!-- Func Facts End -->
    <!-- Clients List -->
    <div class="row justify-content-md-center">
        <div class="col-lg-3 col-md-4">
            <img src="~/images/woman-1.png" alt="" class="img-fluid mb-lg-0 my-md-4">
        </div>
        <div class="col-lg-9">
            <div class="intro">
                <!-- Intro -->
                <h3 class="mb-lg-2 mt-lg-2">So, What you waiting for?</h3>
                <p class="lead impx-lead small mb-lg-4 text-muted">Nec vero pietas adversus deos nec quanta iis gratia debeatur sine explicatione naturae. Animum autem reliquis rebus ita perfecit, ut corpus; Tertium autem omnibus aut maximis rebus iis, quae.</p>
            </div><!-- Intro End -->
            <div class="row">
                <div class="col-lg col-sm">
                    <div class="client-item text-center mb-lg-0 mb-3">
                        <!-- Client 1 -->
                        <img src="~/images/client/client-2.png" alt="" class="img-fluid mb-lg-1 img-75p">
                        <p class="mb-lg-2 mb-2">Bona autem corporis huic Levatio igitur vitiorum magna fit habent.</p>
                        <ul class="impx-star-rating mx-lg-0 mt-lg-0 mb-lg-0 p-lg-0 mx-0 px-0 mb-0">
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg checked"></li>
                        </ul>
                        <span class="badge badge-success letter-spacing-sm text-uppercase font-weight-normal px-lg-2 pt-lg-1 pt-lg-1 pt-1">5 Stars</span>
                    </div><!-- Client 1 End -->
                </div>
                <div class="col-lg col-sm">
                    <div class="client-item text-center mb-lg-0 mb-3">
                        <!-- Client 2 -->
                        <img src="~/images/client/client-1.png" alt="" class="img-fluid mb-lg-1 img-75p">
                        <p class="mb-lg-2">Bona autem corporis huic Levatio igitur vitiorum magna fit habent.</p>
                        <ul class="impx-star-rating mx-lg-0 mt-lg-0 mb-lg-0 p-lg-0 mx-0 px-0 mb-0">
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg"></li>
                        </ul>
                        <span class="badge badge-success letter-spacing-sm text-uppercase font-weight-normal px-lg-2 pt-lg-1 pt-lg-1 pt-1">4 Stars</span>
                    </div><!-- Client 2 End -->
                </div>
                <div class="col-lg col-sm">
                    <div class="client-item text-center mb-lg-0 mb-3">
                        <!-- Client 3 -->
                        <img src="~/images/client/client-3.png" alt="" class="img-fluid mb-lg-1 img-75p">
                        <p class="mb-lg-2">Bona autem corporis huic Levatio igitur vitiorum magna fit habent.</p>
                        <ul class="impx-star-rating mx-lg-0 mt-lg-0 mb-lg-0 p-lg-0 mx-0 px-0 mb-0">
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg checked"></li>
                            <li class="fa fa-star fa-lg checked"></li>
                        </ul>
                        <span class="badge badge-success letter-spacing-sm text-uppercase font-weight-normal px-lg-2 pt-lg-1 pt-lg-1 pt-1">5 Stars</span>
                    </div><!-- Client 3 End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Clients List End -->

</div>
<!-- Content End -->