
@{
    ViewBag.Title = "สวนป้านี เกาะขันธ์ ชะอวด";
}

<!-- Page Heading -->
<div class="impx-page-heading position-relative">
    <img src="~/Content/Img/GardenHeader/1.jpg" class="img-fluid" alt="About">
    <div class="page-title right p-lg-3 px-sm-3 py-sm-2 px-2 pt-1 rounded-left">
        <h4 class="text-white mb-lg-2 mb-sm-0">สวนป้านี</h4>
        <p class="mb-lg-0 mb-sm-2 d-lg-inline-block d-sm-none d-none">เกาะขันธ์ ชะอวด</p>
    </div>
</div>
<!-- Page Heading End -->
<!-- Content -->
<div class="impx-content p-lg-4 m-lg-2 p-3 m-2">

    <div class="row justify-content-center">
        <div class="col-lg-12">

            <!-- Slideshow -->
            <div class="impx-slider mb-lg-4 mb-3">
                <div class="slider1 owl-carousel owl-theme">
                    <img src="~/Content/Img/Garden2/8.jpg" alt="" class="img-fluid"><!-- Slide item 1  -->
                    <img src="~/Content/Img/Garden2/5.jpg" alt="" class="img-fluid"><!-- Slide item 2  -->
                    <img src="~/Content/Img/Garden2/1.JPG" alt="" class="img-fluid"><!-- Slide item 3  -->
                    @*<img src="~/Content/Img/Garden2/2.JPG" alt="" class="img-fluid">*@<!-- Slide item 4  -->
                    <img src="~/Content/Img/Garden2/9.jpg" alt="" class="img-fluid"><!-- Slide item 5  -->
                </div>
            </div>
            <!-- Slideshow End -->
        </div>
    </div>
</div>

<!-- Content -->
<div class="impx-content p-lg-4 m-lg-2 p-3 m-2">
    <div class="row">
        <!-- Content Main -->
        <div class="col-lg-12">
            <h3 class="mb-lg-2">สวนป้านี เกาะขันธ์ ชะอวด</h3>
            <p class="impx-lead mb-lg-4 text-muted">คำอธิบายรายละเอียด</p>
        </div>
    </div>
    <!-- Portfolio 1 Col -->
    <div class="impx-hp-hl">
        <div class="onecol-item">
            <!-- Item 1 -->
            <div class="row">
                <div class="col-lg-7 col-sm-6 mb-lg-3 mb-2">
                    <img src="~/Content/Img/Garden2/10.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3">
                </div>
                <div class="col-lg-5 col-sm-6 mb-lg-3 mb-4">
                    <h4 class="mb-lg-3 text-green">Portfolio Work 1</h4>
                    <p class="impx-lead small text-muted">Itaque haec cum illis est dissensio, cum Peripateticis nulla sane. Ita relinquet duas, de quibus etiam atque etiam consideret. Possumusne ergo in vita summum bonum dicere, cum id ne in cena quidem posse.</p>
                    @*<ul class="list-unstyled mb-lg-4">
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 text-green"></i> Bonum integritas corporis</li>
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 text-green"></i> Aperiendum est igitur, quid sit</li>
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 mr-lg-2  text-green"></i> Quae contraria sunt his</li>
                        </ul>*@
                    @*<a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>*@
                </div>
            </div><!-- Item 1 End -->
        </div>
        <div class="w-100 mb-lg-2"></div>
        <div class="onecol-item">
            <!-- Item 2 -->
            <div class="row">
                <div class="col-lg-5 col-sm-6 mb-lg-3">
                    <h4 class="mb-lg-3 text-green">Portfolio Work 2</h4>
                    <p class="impx-lead small text-muted">Itaque haec cum illis est dissensio, cum Peripateticis etiam consideret. Possumusne ergo in vita summum bonum dicere, cum id ne in cena quidem posse.</p>
                    <p class="mb-lg-4">Quod ea non occurrentia fingunt, vincunt Aristonem; Quonam, inquit, modo? Bonum integritas corporis: misera. Aperiendum est igitur, quid sit voluptas; Huius, Lyco, oratione locuples, rebus ipsis ielunior. Hoc simile tandem est? Nonne igitur tibi videntur, inquit, mala? Quae contraria sunt his, malane?</p>
                    @*<a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mt-lg-n1">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>*@
                </div>
                <div class="col-lg-7 col-sm-6 mb-lg-3 mb-4">
                    <img src="~/Content/Img/Garden2/8.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3">
                </div>
            </div>
        </div><!-- Item 2 End -->
        <div class="w-100 mb-lg-2"></div>
        <div class="onecol-item">
            <!-- Item 3 -->
            <div class="row">
                <div class="col-lg-7 col-sm-6 mb-lg-3 mb-2">
                    <img src="~/Content/Img/Garden2/1.JPG" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3">
                </div>
                <div class="col-lg-5 col-sm-6 mb-lg-3  mb-4">
                    <h4 class="mb-lg-3 text-green">Portfolio Work 3</h4>
                    <p class="impx-lead small text-muted">Itaque haec cum illis est dissensio, cum Peripateticis nulla sane. Ita relinquet duas, de quibus etiam atque etiam consideret. Possumusne ergo in vita summum bonum dicere, cum id ne in cena quidem posse.</p>
                    @*<ul class="list-unstyled mb-lg-4">
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 text-green"></i> Bonum integritas corporis</li>
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 text-green"></i> Aperiendum est igitur, quid sit</li>
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 mr-lg-2  text-green"></i> Quae contraria sunt his</li>
                        </ul>*@
                    @*<a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>*@
                </div>
            </div>
        </div><!-- Item 3 End -->
        <div class="w-100 mb-lg-2"></div>
        <div class="onecol-item">
            <!-- Item 4 -->
            <div class="row">
                <div class="col-lg-5 col-sm-6 mb-lg-3">
                    <h4 class="mb-lg-3 text-green">Portfolio Work 4</h4>
                    <p class="impx-lead small text-muted">Itaque haec cum illis est dissensio, cum Peripateticis etiam consideret. Possumusne ergo in vita summum bonum dicere, cum id ne in cena quidem posse.</p>
                    <p class="mb-lg-4">Quod ea non occurrentia fingunt, vincunt Aristonem; Quonam, inquit, modo? Bonum integritas corporis: misera. Aperiendum est igitur, quid sit voluptas; Huius, Lyco, oratione locuples, rebus ipsis ielunior. Hoc simile tandem est? Nonne igitur tibi videntur, inquit, mala? Quae contraria sunt his, malane?</p>
                    @*<a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mt-lg-n1 mb-3">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>*@
                </div>
                <div class="col-lg-7 col-sm-6 mb-lg-3 mb-4">
                    <img src="~/Content/Img/Garden2/2.JPG" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3">
                </div>
            </div><!-- Item 4 End -->
        </div>
        <div class="w-100 mb-lg-2"></div>
        <div class="onecol-item">
            <!-- Item 5 -->
            <div class="row">
                <div class="col-lg-7 col-sm-6 mb-lg-3 mb-2">
                    <img src="~/Content/Img/Garden2/5.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3">
                </div>
                <div class="col-lg-5 col-sm-6 mb-lg-3  mb-4">
                    <h4 class="mb-lg-3 text-green">Portfolio Work 5</h4>
                    <p class="impx-lead small text-muted">Itaque haec cum illis est dissensio, cum Peripateticis nulla sane. Ita relinquet duas, de quibus etiam atque etiam consideret. Possumusne ergo in vita summum bonum dicere, cum id ne in cena quidem posse.</p>
                    @*<ul class="list-unstyled mb-lg-4">
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 text-green"></i> Bonum integritas corporis</li>
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 text-green"></i> Aperiendum est igitur, quid sit</li>
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 mr-lg-2  text-green"></i> Quae contraria sunt his</li>
                        </ul>*@
                    @*<a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>*@
                </div>
            </div>
        </div><!-- Item 5 End -->
        <div class="w-100 mb-lg-2"></div>
        <div class="onecol-item">
            <!-- Item 6 -->
            <div class="row">
                <div class="col-lg-5 col-sm-6 mb-lg-3">
                    <h4 class="mb-lg-3 text-green">Portfolio Work 6</h4>
                    <p class="impx-lead small text-muted">Itaque haec cum illis est dissensio, cum Peripateticis etiam consideret. Possumusne ergo in vita summum bonum dicere, cum id ne in cena quidem posse.</p>
                    <p class="mb-lg-4">Quod ea non occurrentia fingunt, vincunt Aristonem; Quonam, inquit, modo? Bonum integritas corporis: misera. Aperiendum est igitur, quid sit voluptas; Huius, Lyco, oratione locuples, rebus ipsis ielunior. Hoc simile tandem est? Nonne igitur tibi videntur, inquit, mala? Quae contraria sunt his, malane?</p>
                    @*<a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mt-lg-n1 mb-3">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>*@
                </div>
                <div class="col-lg-7 col-sm-6 mb-lg-3 mb-4">
                    <img src="~/Content/Img/Garden2/9.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3">
                </div>
            </div><!-- Item 6 End -->
        </div>
        <div class="w-100 mb-lg-2"></div>
        <div class="onecol-item">
            <!-- Item 7 -->
            <div class="row">
                <div class="col-lg-7 col-sm-6 mb-lg-3 mb-2">
                    <img src="~/Content/Img/GardenHeader/Dashboard.png" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3">
                </div>
                <div class="col-lg-5 col-sm-6 mb-lg-3  mb-4">
                    <h4 class="mb-lg-3 text-green">ติดตามข้อมูลการทำงาน</h4>
                    <p class="impx-lead small text-muted">Itaque haec cum illis est dissensio, cum Peripateticis nulla sane. Ita relinquet duas, de quibus etiam atque etiam consideret. Possumusne ergo in vita summum bonum dicere, cum id ne in cena quidem posse.</p>
                    @*<ul class="list-unstyled mb-lg-4">
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 text-green"></i> Bonum integritas corporis</li>
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 text-green"></i> Aperiendum est igitur, quid sit</li>
                            <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-check mr-lg-2 mr-lg-2  text-green"></i> Quae contraria sunt his</li>
                        </ul>*@
                    <a href="#" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">ติดตามการทำงานที่นี่ &nbsp;<i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div><!-- Item 7 End -->
        <div class="impx-widget spacing p-lg-4 p-3 impx-padding-medium-vertical">
            <h5 class="mb-lg-4 mb-4">ประมาณราคาระบบน้ำ</h5>
            <img src="~/images/pdf.png" class="float-left mr-lg-2 mr-sm-3 mb-3" alt="pdf">
            <p>สวนป้านี</p>
            <a href="~/Content/Document/Garden2/docPrice.pdf" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">ดาวน์โหลด &nbsp;<i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
    </div>
    <!-- Portfolio 1 Col End -->
    <!-- Content End -->
</div>
