
@{
    ViewBag.Title = "สวนทั้งหมด";
}


<!-- Page Heading -->
<div class="impx-page-heading position-relative">
    <img src="~/images/page-heading-about.jpg" class="img-fluid" alt="About">
    <div class="page-title right p-lg-3 px-sm-3 py-sm-2 px-2 pt-1 rounded-left">
        <h4 class="text-white mb-lg-2 mb-sm-0">Portfolio</h4>
        <p class="mb-lg-0 mb-sm-2 d-lg-inline-block d-sm-none d-none">Lorem ipsum dolor sit amet, rutrum lectus non libero molestie pellentesque</p>
    </div>
</div>
<!-- Page Heading End -->
<!-- Content -->
<div class="impx-content p-lg-4 m-lg-2 p-3 m-2">
    <div class="row justify-content-center">
        <!-- Content Main -->
        <div class="col-lg-10">
            <div class="impx-intro text-center">
                <h3 class="mb-lg-2">Our Best Works</h3>
                <p class="impx-lead small mb-lg-4 text-muted">Integer eu lacus sit amet mauris hendrerit egestas et eget neque. Mauris ac justo tempus velit imperdiet placerat. Nullam dolor lectus, sollicitudin sed dictum nec, consequat in erat. Quisque nibh ligula</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Portfolio Filter -->
            <ul id="pf-filter" class="list-group list-group-horizontal justify-content-center mb-lg-4 mb-4">
                <li class="list-group-item  py-lg-1"><a href="" data-filter="*">All</a></li>
                <li class="list-group-item  py-lg-1"><a href="" data-filter=".web-design">Web Design</a></li>
                <li class="list-group-item  py-lg-1"><a href="" data-filter=".photography">Photography</a></li>
                <li class="list-group-item  py-lg-1"><a href="" data-filter=".print-design">Print Design</a></li>
                <li class="list-group-item  py-lg-1"><a href="" data-filter=".video">Video</a></li>
            </ul>
            <!-- Portfolio Filter End -->
            <!-- Portfolio 4 Cols -->
            <div class="impx-hp-hl">
                <div class="row pf-4cols">
                    <div class="col-lg-3 col-sm-6 mb-lg-2 mb-4 pf-item print-design ">
                        <!-- Item 1 -->
                        <img src="~/images/portfolio/pf-1.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3 mb-2">
                        <h5 class="mb-lg-2 text-green">Portfolio Work 1</h5>
                        <p class="mb-lg-3">Cuius similitudine in formarum dictorum atque factorum quae quo sunt excelsiores, eo dant.</p>
                        <a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mt-lg-n1">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div><!-- Item 1 End -->
                    <div class="col-lg-3 col-sm-6 mb-lg-2 mb-4 pf-item video">
                        <!-- Item 2 -->
                        <img src="~/images/portfolio/pf-2.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3 mb-2">
                        <h5 class="mb-lg-2 text-green">Portfolio Work 2</h5>
                        <p class="mb-lg-3">Cuius similitudine in formarum dictorum atque factorum quae quo sunt excelsiores, eo dant.</p>
                        <a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mt-lg-n1">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div><!-- Item 2 End -->
                    <div class="col-lg-3 col-sm-6 mb-lg-2 mb-4 photography video">
                        <!-- Item 3 -->
                        <img src="~/images/portfolio/pf-3.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3 mb-2">
                        <h5 class="mb-lg-2 text-green">Portfolio Work 3</h5>
                        <p class="mb-lg-3">Cuius similitudine in formarum dictorum atque factorum quae quo sunt excelsiores, eo dant.</p>
                        <a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mt-lg-n1">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div><!-- Item 3 End -->
                    <div class="col-lg-3 col-sm-6 mb-lg-2 mb-4 pf-item print-design web-design">
                        <!-- Item 4 -->
                        <img src="~/images/portfolio/pf-4.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3 mb-2">
                        <h5 class="mb-lg-2 text-green">Portfolio Work 4</h5>
                        <p class="mb-lg-3">Cuius similitudine in formarum dictorum atque factorum quae quo sunt excelsiores, eo dant.</p>
                        <a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mt-lg-n1">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div><!-- Item 4 End -->
                    <div class="w-100 mb-lg-3"></div>
                    <div class="col-lg-3 col-sm-6 mb-lg-2 mb-4 pf-item print-design">
                        <!-- Item 5 -->
                        <img src="~/images/portfolio/pf-5.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3 mb-2">
                        <h5 class="mb-lg-2 text-green">Portfolio Work 5</h5>
                        <p class="mb-lg-3">Cuius similitudine in formarum dictorum atque factorum quae quo sunt excelsiores, eo dant.</p>
                        <a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mt-lg-n1">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div><!-- Item 5 End -->
                    <div class="col-lg-3 col-sm-6 mb-lg-2 mb-4 pf-item web-design">
                        <!-- Item 6 -->
                        <img src="~/images/portfolio/pf-6.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3 mb-2">
                        <h5 class="mb-lg-2 text-green">Portfolio Work 6</h5>
                        <p class="mb-lg-3">Cuius similitudine in formarum dictorum atque factorum quae quo sunt excelsiores, eo dant.</p>
                        <a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mt-lg-n1">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div><!-- Item 6 End -->
                    <div class="col-lg-3 col-sm-6 mb-lg-2 mb-lg-3 mb-4 pf-item print-design">
                        <!-- Item 7 -->
                        <img src="~/images/portfolio/pf-7.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3 mb-2">
                        <h5 class="mb-lg-2 text-green">Portfolio Work 7</h5>
                        <p class="mb-lg-3">Cuius similitudine in formarum dictorum atque factorum quae quo sunt excelsiores, eo dant.</p>
                        <a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mt-lg-n1">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div><!-- Item 7 End -->
                    <div class="col-lg-3 col-sm-6 mb-lg-2 mb-4 pf-item web-design">
                        <!-- Item 8 -->
                        <img src="~/images/portfolio/pf-8.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3 mb-2">
                        <h5 class="mb-lg-2 text-green">Portfolio Work 8</h5>
                        <p class="mb-lg-3">Cuius similitudine in formarum dictorum atque factorum quae quo sunt excelsiores, eo dant.</p>
                        <a href="portfolio-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mt-lg-n1">view more detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div><!-- Item 8 End -->
                </div>
            </div>
            <!-- Portfolio 4 Cols End -->

        </div>
        <!-- Content Main End -->

    </div>
</div>
<!-- Content End -->
