
@{
    ViewBag.Title = "บริการ";
}

<!-- Page Heading -->
<div class="impx-page-heading position-relative">
    <img src="~/images/page-heading-about.jpg" class="img-fluid" alt="About">
    <div class="page-title right p-lg-3 px-sm-3 py-sm-2 px-2 pt-1 rounded-left">
        <h4 class="text-white mb-lg-2 mb-sm-0">Services</h4>
        <p class="mb-lg-0 mb-sm-2 d-lg-inline-block d-sm-none d-none">Lorem ipsum dolor sit amet, rutrum lectus non libero molestie pellentesque</p>
    </div>
</div>
<!-- Page Heading End -->
<!-- Content -->
<div class="impx-content p-lg-4 m-lg-2 p-3 m-2">
    <div class="row">

        <!-- Content Main -->
        <div class="col-lg-8-5">
            <h3 class="mb-lg-3">What We Do?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum dui quis sem fermentum a mattis ipsum ultrices. Integer eu lacus sit amet mauris hendrerit egestas et eget neque tempus velit imperdiet placerat. Nullam dolor lectus, sollicitudin sed dictum nec, consequat in erat. Quisque nibh ligula</p>
            <p>Integer eu lacus sit amet mauris hendrerit egestas et eget neque. Mauris ac justo tempus velit imperdiet placerat. Nullam dolor lectus, sollicitudin sed dictum nec, consequat in erat. Quisque nibh ligula</p>

            <!-- Services List -->
            <div class="impx-hp-hl">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-lg-3 mb-4">
                        <!-- Service 1 -->
                        <h5 class="mb-lg-2 text-green">Business Consulting</h5>
                        <img src="~/images/content/img-5.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-2 mb-3">
                        <p class="mb-lg-2 mb-2">Cuius similitudine in formarum dictorum atque factorum quae quo sunt excelsiores, eo dant.</p>
                        <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">view more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                    </div><!-- Services 1 End -->
                    <div class="col-lg-4 col-sm-6 mb-lg-3 mb-4">
                        <!-- Services 2 -->
                        <h5 class="mb-lg-2 text-green">Data Analyst</h5>
                        <img src="~/images/content/img-6.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-2 mb-3">
                        <p class="mb-lg-2">Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt excelsiores, eo dant.</p>
                        <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">view more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                    </div><!-- Services 2 End -->
                    <div class="col-lg-4 col-sm-6 mb-lg-3 mb-4">
                        <!-- Services 3 -->
                        <h5 class="mb-lg-2 text-green">Business Planing</h5>
                        <img src="~/images/content/img-7.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-2 mb-3">
                        <p class="mb-lg-2 mb-2">Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt excelsiores, eo dant.</p>
                        <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">view more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                    </div><!-- Services 3 End -->
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Services 4 -->
                        <h5 class="mb-lg-2 text-green">Branding</h5>
                        <img src="~/images/content/img-8.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-2 mb-3">
                        <p class="mb-lg-2 mb-2">Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt excelsiores, eo dant.</p>
                        <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">view more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                    </div><!-- Services 4 End -->
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Services 5 -->
                        <h5 class="mb-lg-2 text-green">Market Calculation</h5>
                        <img src="~/images/content/img-9.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-2 mb-3">
                        <p class="mb-lg-2">Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt excelsiores, eo dant.</p>
                        <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">view more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                    </div><!-- Services 5 End -->
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Services 6 -->
                        <h5 class="mb-lg-2 text-green">Non-profit Actitivities</h5>
                        <img src="~/images/content/img-10.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-2">
                        <p class="mb-lg-2 mb-2">Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt excelsiores, eo dant.</p>
                        <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">view more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                    </div><!-- Services 6 End -->
                </div>
            </div>
            <!-- Services List End -->

        </div>
        <!-- Content Main End -->
        <!-- Sidebar -->
        <div class="col-lg-3-5">
            <aside class="impx-sidebar">
                <!-- Latest Work Widget -->
                <div class="impx-widget spacing  p-lg-4 p-3 mb-lg-4 mb-sm-4 impx-padding-medium-vertical">
                    <h5 class="mb-lg-4 mb-4">Latest Project</h5>
                    <img src="~/images/portfolio/pf-1.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 mb-lg-3 mb-sm-3 mb-2">
                    <h6><a href="#">Portfolio Title</a></h6>
                    <p>Lorem ipsum dolor sit ametadip cing Donec convallis non convallis</p>
                    <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">View Detail <i class="fa fa-arrow-circle-o-right"></i></button>
                </div>
                <!-- Latest Work End -->
                <!-- Testimonial Widget -->
                <div class="impx-widget spacing p-lg-4 p-3 impx-padding-medium-vertical">
                    <h5 class="mb-lg-4 mb-4">Brochure</h5>
                    <img src="~/images/pdf.png" class="float-left mr-lg-2 mr-sm-3 mb-3" alt="pdf">
                    <p>Mauris sapien purus, euismod nec feugiat quis, ultricies sed urna. Cras id est venenatis orci porta volutpat sit amet vitae magna.</p>
                    <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">Download Now! <i class="fa fa-arrow-circle-o-right"></i></button>
                </div>
                <!-- Testimonial Widget End -->

            </aside>
        </div>
        <!-- Sidebar End -->

    </div>
</div>
<!-- Content End -->
