
@{
    ViewBag.Title = "ทีมของเรา";
}

<!-- Page Heading -->
<div class="impx-page-heading position-relative">
    <img src="~/images/page-heading-about.jpg" class="img-fluid" alt="About">
    <div class="page-title p-lg-3 px-sm-3 py-sm-2 px-2 pt-1 rounded-right">
        <h4 class="text-white mb-lg-2 mb-sm-0">Team</h4>
        <p class="mb-lg-0 mb-sm-2 d-lg-inline-block d-sm-none d-none">Lorem ipsum dolor sit amet, rutrum lectus non libero molestie pellentesque</p>
    </div>
</div>
<!-- Page Heading End -->
<!-- Content -->
<div class="impx-content p-lg-4 m-lg-2 p-3 m-2">

    <div class="row justify-content-center text-center mb-lg-5 mb-5">
        <div class="col-lg-10 border-bottom">
            <!-- Intro -->
            <h3 class="text-green mb-lg-1">Peoples behind the Scene</h3>
            <p class="lead mb-lg-3 text-muted impx-lead">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut quia consequuntur</p>
        </div><!-- Intro End -->
    </div>

    <!-- Team List -->
    <div class="row">
        <div class="col-lg col-sm-6 mb-lg-5 mb-4">
            <!-- Team Item 1 -->
            <div class="team-item">
                <div class="card shadow-sm">
                    <img src="~/images/peoples/team1.jpg" class="card-img-top" alt=".">
                    <div class="card-body">
                        <h5 class="card-title text-green">Jarvis Pepperspray</h5>
                        <ul class="social-profile small outline mb-lg-2">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <p class="card-text text-muted">Quod equidem reprehendo ossi beatam vitam sapientia.</p>
                        <a href="team-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">Read more <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- Team Item 1 End -->
        <div class="col-lg col-sm-6 mb-lg-5 mb-4">
            <!-- Team Item 2 -->
            <div class="team-item">
                <div class="card shadow-sm">
                    <img src="~/images/peoples/team2.jpg" class="card-img-top" alt=".">
                    <div class="card-body">
                        <h5 class="card-title text-green mb-lg-2">Chauffina Carr</h5>
                        <ul class="social-profile small outline mb-lg-2">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <p class="card-text text-muted">Quod equidem reprehendo ossi beatam vitam sapientia.</p>
                        <a href="team-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">Read more <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- Team Item 2 End -->
        <div class="col-lg col-sm-6 mb-lg-5 mb-4">
            <!-- Team Item 3 -->
            <div class="team-item">
                <div class="card shadow-sm">
                    <img src="~/images/peoples/team3.jpg" class="card-img-top" alt=".">
                    <div class="card-body">
                        <h5 class="card-title text-green">Douglas Lyphe</h5>
                        <ul class="social-profile small outline mb-lg-2">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <p class="card-text text-muted">Quod equidem reprehendo ossi beatam vitam sapientia.</p>
                        <a href="team-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">Read more <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- Team Item 3 End -->
        <div class="col-lg col-sm-6 mb-lg-5 mb-4">
            <!-- Team Item 4 -->
            <div class="team-item">
                <div class="card shadow-sm">
                    <img src="~/images/peoples/team4.jpg" class="card-img-top" alt=".">
                    <div class="card-body">
                        <h5 class="card-title text-green">Dominic L. Ement</h5>
                        <ul class="social-profile small outline mb-lg-2">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <p class="card-text text-muted">Quod equidem reprehendo ossi beatam vitam sapientia.</p>
                        <a href="team-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">Read more <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- Team Item 4 End -->
        <div class="w-100"></div>
        <div class="col-lg col-sm-6 mb-4">
            <!-- Team Item 5 -->
            <div class="team-item">
                <div class="card shadow-sm">
                    <img src="~/images/peoples/team5.jpg" class="card-img-top" alt=".">
                    <div class="card-body">
                        <h5 class="card-title text-green">Fleece Marigold</h5>
                        <ul class="social-profile small outline mb-lg-2">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <p class="card-text text-muted">Quod equidem reprehendo ossi beatam vitam sapientia.</p>
                        <a href="team-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">Read more <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- Team Item 5 End -->
        <div class="col-lg col-sm-6 mb-4">
            <!-- Team Item 6 -->
            <div class="team-item">
                <div class="card shadow-sm">
                    <img src="~/images/peoples/team6.jpg" class="card-img-top" alt=".">
                    <div class="card-body">
                        <h5 class="card-title text-green">Justin Case</h5>
                        <ul class="social-profile small outline mb-lg-2">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <p class="card-text text-muted">Quod equidem reprehendo ossi beatam vitam sapientia.</p>
                        <a href="team-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">Read more <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- Team Item 6 End -->
        <div class="col-lg col-sm-6 mb-4">
            <!-- Team Item 7 -->
            <div class="team-item">
                <div class="card shadow-sm">
                    <img src="~/images/peoples/team7.jpg" class="card-img-top" alt=".">
                    <div class="card-body">
                        <h5 class="card-title text-green">Rodney Artichoke</h5>
                        <ul class="social-profile small outline mb-lg-2">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <p class="card-text text-muted">Quod equidem reprehendo ossi beatam vitam sapientia.</p>
                        <a href="team-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">Read more <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- Team Item 7 End -->
        <div class="col-lg col-sm-6 mb-4">
            <!-- Team Item 8 -->
            <div class="team-item">
                <div class="card shadow-sm">
                    <img src="~/images/peoples/team8.jpg" class="card-img-top" alt=".">
                    <div class="card-body">
                        <h5 class="card-title text-green">Dianne Ameter</h5>
                        <ul class="social-profile small outline mb-lg-2">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <p class="card-text text-muted">Quod equidem reprehendo ossi beatam vitam sapientia.</p>
                        <a href="team-detail.html" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg">Read more <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- Team Item 8 End -->

    </div>
    <!-- Team List End -->
</div>
<!-- Content End -->
