
@{
    ViewBag.Title = "คำนิยมจากเจ้าของสวน";
}

<!-- Page Heading -->
<div class="impx-page-heading position-relative">
    <img src="~/images/page-heading-about.jpg" class="img-fluid" alt="About">
    <div class="page-title right p-lg-3 px-sm-3 py-sm-2 px-2 pt-1 rounded-left">
        <h4 class="text-white mb-lg-2 mb-sm-0">Testimonials</h4>
        <p class="mb-lg-0 mb-sm-2 d-lg-inline-block d-sm-none d-none">Lorem ipsum dolor sit amet, rutrum lectus non libero molestie pellentesque</p>
    </div>
</div>
<!-- Page Heading End -->
<!-- Content -->
<div class="impx-content p-lg-4 m-lg-2 p-3 m-2">

    <div class="row justify-content-center">
        <!-- Intro -->
        <div class="col-lg-10 text-center">
            <h3>Our Happy Customers</h3>
            <p class="mb-lg-5 mb-5 lead impx-lead text-muted">Animum autem reliquis rebus ita perfecit, ut corpus; Hoc loco tenere se Triarius non potuit. Duo Reges: constructio interrete. Atque his de rebus et splendida est eorum et illustris oratio. </p>
        </div>
    </div><!-- Intro End -->
    <!-- Testimonials -->
    <div class="row">
        <div class="col-lg-6 pr-lg-4 mb-5">
            <!-- Testimonial 1 -->
            <div class="impx-testimonial-item border-xlight shadow-sm">
                <div class="impx-testi-container">
                    <div class="impx-testi-text">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid est enim aliud esse versutum? Haec para/doca illi</p>
                        </blockquote>
                    </div>
                    <div class="impx-testi-name"><p class="mb-lg-0">Mrs. Smith Yan</p></div>
                    <span class="badge badge-success">Book Author</span>
                </div>
                <div class="impx-testi-image"><img src="~/images/peoples/testi-people1.jpg" alt="People 1" class="img-fluid rounded-circle" /></div>
            </div>
        </div><!-- Testimonial 1 End -->
        <div class="col-lg-6 pr-lg-4 mb-5">
            <!-- Testimonial 2 -->
            <div class="impx-testimonial-item border-xlight shadow-sm">
                <div class="impx-testi-container">
                    <div class="impx-testi-text">
                        <blockquote>
                            <p>Sed quod proximum fuit non vidit. Expectoque quid ad id, quod quaerebam, respondeas. Duo enim genera quae erant, cum praeponunt, ut sit aliqua rerum</p>
                        </blockquote>
                    </div>
                    <div class="impx-testi-name"><p class="mb-lg-0">Mrs. Smith Yan</p></div>
                    <span class="badge badge-success">Book Author</span>
                </div>
                <div class="impx-testi-image"><img src="~/images/peoples/testi-people2.jpg" alt="People 1" class="img-fluid rounded-circle" /></div>
            </div>
        </div><!-- Testimonial 2 End -->
        <div class="w-100"></div>
        <div class="col-lg-6 pr-lg-4 mb-5">
            <!-- Testimonial 3 -->
            <div class="impx-testimonial-item border-xlight shadow-sm">
                <div class="impx-testi-container">
                    <div class="impx-testi-text">
                        <blockquote>
                            <p>Quisque pretium porta ante raesent at justo ornare in dictum nunc mattis tempus euismod sollicitudin nibh efficitur felis a ipsum fringilla Innumerabilia dici possunt </p>
                        </blockquote>
                    </div>
                    <div class="impx-testi-name"><p class="mb-lg-0">Mrs. Smith Yan</p></div>
                    <span class="badge badge-success">Book Author</span>
                </div>
                <div class="impx-testi-image"><img src="~/images/peoples/testi-people3.jpg" alt="People 1" class="img-fluid rounded-circle" /></div>
            </div>
        </div><!-- Testimonial 3 End -->
        <div class="col-lg-6 pr-lg-4 mb-5">
            <!-- Testimonial 4 -->
            <div class="impx-testimonial-item border-xlight shadow-sm">
                <div class="impx-testi-container">
                    <div class="impx-testi-text">
                        <blockquote>
                            <p>Quod equidem non reprehendo; Quod si ita se habeat, non possit beatam praestare vitam sapientia. tempus euismod sollicitudin nibh efficitur felis a ipsum</p>
                        </blockquote>
                    </div>
                    <div class="impx-testi-name"><p class="mb-lg-0">Mrs. Smith Yan</p></div>
                    <span class="badge badge-success">Book Author</span>
                </div>
                <div class="impx-testi-image"><img src="~/images/peoples/testi-people4.jpg" alt="People 1" class="img-fluid rounded-circle" /></div>
            </div>
        </div><!-- Testimonial 4 End -->
        <div class="w-100"></div>
        <div class="col-lg-6 pr-lg-4 mb-5">
            <!-- Testimonial 5 -->
            <div class="impx-testimonial-item border-xlight shadow-sm">
                <div class="impx-testi-container">
                    <div class="impx-testi-text">
                        <blockquote>
                            <p>Ipse Epicurus fortasse redderet, ut Sextus Peducaeus, Sex. Innumerabilia dici possunt in hanc sententiam, sed non necesse est. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam</p>
                        </blockquote>
                    </div>
                    <div class="impx-testi-name"><p class="mb-lg-0">Mrs. Smith Yan</p></div>
                    <span class="badge badge-success">Book Author</span>
                </div>
                <div class="impx-testi-image"><img src="~/images/peoples/testi-people5.jpg" alt="People 1" class="img-fluid rounded-circle" /></div>
            </div>
        </div><!-- Testimonial 5 End -->
        <div class="col-lg-6 pr-lg-4 mb-5">
            <!-- Testimonial 6 -->
            <div class="impx-testimonial-item border-xlight shadow-sm">
                <div class="impx-testi-container">
                    <div class="impx-testi-text">
                        <blockquote>
                            <p>Quisque pretium porta ante raesent at justo ornare in dictum nunc mattis tempus euismod sollicitudin nibh efficitur felis a ipsum fringilla</p>
                        </blockquote>
                    </div>
                    <div class="impx-testi-name"><p class="mb-lg-0">Mrs. Smith Yan</p></div>
                    <span class="badge badge-success">Book Author</span>
                </div>
                <div class="impx-testi-image"><img src="~/images/peoples/testi-people6.jpg" alt="People 1" class="img-fluid rounded-circle" /></div>
            </div>
        </div><!-- Testimonial 6 End -->
    </div>
    <!-- Testimonials End -->
</div>
<!-- Content End -->
