@{
    ViewBag.Title = "เกี่ยวกับเรา";
}


<!-- Page Heading -->
<div class="impx-page-heading position-relative">
    <img src="~/images/page-heading-about.jpg" class="img-fluid" alt="About">
    <div class="page-title p-lg-3 px-sm-3 py-sm-2 px-2 pt-1 rounded-right">
        <h4 class="text-white mb-lg-2 mb-sm-0">About Us</h4>
        <p class="mb-lg-0 mb-sm-2 d-lg-inline-block d-sm-none d-none">Lorem ipsum dolor sit amet, rutrum lectus non libero molestie pellentesque</p>
    </div>
</div>
<!-- Page Heading End -->
<!-- Content -->
<div class="impx-content p-lg-4 m-lg-2 p-3 m-2">
    <div class="row">

        <!-- Content Main -->
        <div class="col-lg-8-5 mb-lg-0 mb-sm-3 mb-5">
            <h3 class="mb-lg-3">Story About Us!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum dui quis sem fermentum a mattis ipsum ultrices. Integer eu lacus sit amet mauris hendrerit egestas et eget neque. Mauris tempus velit imperdiet placerat. Nullam dolor lectus, sollicitudin sed dictum nec, consequat in erat. Quisque nibh ligula</p>

            <p class="mb-lg-4">Integer eu lacus sit amet mauris hendrerit egestas et eget neque. Mauris ac justo tempus velit imperdiet placerat. Nullam dolor lectus, sollicitudin sed dictum nec, consequat in erat. Quisque nibh ligula</p>

            <!-- Highlights -->
            <div class="impx-hp-hl">
                <div class="row">
                    <div class="col-lg col-sm-6 mb-lg-3 mb-4">
                        <!-- Highlight 1 -->
                        <h5 class="mb-lg-2 text-green">Company Profile</h5>
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <p class="mb-lg-3">Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt excelsiores, eo dant clariora indicia naturae.</p>
                                <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mb-lg-0 mb-3">view more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                            </div>
                            <div class="col-lg-4">
                                <img src="~/images/content/img-1.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 p-sm-2">
                            </div>
                        </div>
                    </div><!-- Highlight 1 End -->
                    <div class="col-lg col-sm-6 mb-lg-3 mb-4">
                        <!-- Highlight 2 -->
                        <h5 class="mb-lg-2 text-green">Our History</h5>
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <p>Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt excelsiores, eo dant clariora indicia naturae.</p>
                                <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mb-lg-0 mb-3">view more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                            </div>
                            <div class="col-lg-4">
                                <img src="~/images/content/img-2.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 p-sm-2">
                            </div>
                        </div>
                    </div><!-- Highlight 2 End -->
                    <div class="w-100 mb-lg-2"></div>
                    <div class="col-lg col-sm-6 mb-lg-3 mb-4">
                        <!-- Highlight 3 -->
                        <h5 class="mb-lg-2 text-green">Vision and Mission</h5>
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <p>Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt excelsiores, eo dant clariora indicia naturae.</p>
                                <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mb-lg-0 mb-3">view more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                            </div>
                            <div class="col-lg-4">
                                <img src="~/images/content/img-3.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 p-sm-2">
                            </div>
                        </div>
                    </div><!-- Highlight 3 End -->
                    <div class="col-lg col-sm-6 mb-lg-3 mb-4">
                        <!-- Highlight 4 -->
                        <h5 class="mb-lg-2 text-green">Our Team</h5>
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <p>Cuius similitudine in formarum dictorum atque factorum. Quae quo sunt excelsiores, eo dant clariora indicia naturae.</p>
                                <button type="button" class="btn btn-outline-gray btn-mini btn-gradrient-gray rounded-lg mb-lg-0 mb-3">view more detail <i class="fa fa-arrow-circle-o-right"></i></button>
                            </div>
                            <div class="col-lg-4">
                                <img src="~/images/content/img-4.jpg" alt="" class="img-fluid boxed-img img-thumbnail p-lg-2 p-sm-2">
                            </div>
                        </div>
                    </div><!-- Highlight 4 End -->
                </div>
            </div>
            <!-- Highlights End -->

        </div>
        <!-- Content Main End -->
        <!-- Sidebar -->
        <div class="col-lg-3-5">
            <aside class="impx-sidebar">
                <!-- Side Nav -->
                <div class="impx-widget spacing  p-lg-4 p-3 mb-lg-4 impx-padding-medium-vertical">
                    <h5 class="mb-lg-4 mb-4">Sub Menu</h5>
                    <ul class="sidebar-nav">
                        <li><a href="#">Company Profile</a></li>
                        <li><a href="#">Our History</a></li>
                        <li><a href="#">Vision &amp; Mission</a></li>
                        <li><a href="#">Our Team</a></li>
                    </ul>
                </div>
                <!-- Side Nav End -->
                <!-- Testimonial Widget -->
                <div class="impx-widget spacing p-lg-4 p-3 impx-padding-medium-vertical">
                    <h5 class="mb-lg-4 mb-4">Testimonial</h5>
                    <div class="side-testimonial">
                        <blockquote class="blockquote mb-lg-0">
                            <p class="mb-2">Sed rutrum ligula non purus sagittis non imperdiet metus pharetra. Aenean ut lorem in augue. Mauris sapien purus, ultricies sed urna. Cras id est venenatis orci porta volutpat sit amet vitae magna.</p>
                            <footer class="blockquote-footer">Thimoty <cite title="Source Title">Business Analyst</cite></footer>
                        </blockquote>
                    </div>
                </div>
                <!-- Testimonial Widget End -->

            </aside>
        </div>
        <!-- Sidebar End -->

    </div>
</div>
<!-- Content End -->