
@{
    ViewBag.Title = "ติดต่อเรา";
}


<!-- Page Heading -->
<div class="impx-page-heading position-relative">
    <img src="images/page-heading-about.jpg" class="img-fluid" alt="About">
    <div class="page-title right p-lg-3 px-sm-3 py-sm-2 px-2 pt-1 rounded-left">
        <h4 class="text-white mb-lg-2 mb-sm-0">Contact</h4>
        <p class="mb-lg-0 mb-sm-2 d-lg-inline-block d-sm-none d-none">Lorem ipsum dolor sit amet, rutrum lectus non libero molestie pellentesque</p>
    </div>
</div>
<!-- Page Heading End -->
<!-- Content -->
<div class="impx-content p-lg-4 m-lg-2 p-3 m-2">
    <div class="row">

        <!-- Content 1 -->
        <div class="col-lg-6 mb-lg-0 mb-4">
            <!-- Intro -->
            <h4 class="mb-lg-3">Get in Touch with Us!</h4>
            <p>blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum.</p>
            <!-- Intro End -->
            <!-- Contact Form -->
            <div class="mail-status"></div>
            <form id="impx-contact-form">
                <div class="form-group position-relative">
                    <label for="contact-name">Name</label>
                    <input type="text" class="form-control contact-input" id="contact-name" name="contact-name" placeholder="">
                    <span id="contact-name-info" class="contact-require"></span>
                </div>
                <div class="form-group position-relative">
                    <label for="contact-subject">Subject</label>
                    <input type="text" class="form-control contact-input" id="contact-subject" name="contact-subject" placeholder="">
                    <span id="contact-subject-info" class="contact-require"></span>
                </div>
                <div class="form-group position-relative">
                    <label for="contact-email">Email</label>
                    <input type="text" class="form-control contact-input" id="contact-email" name="contact-email" placeholder="">
                    <span id="contact-email-info" class="contact-require"></span>
                </div>
                <div class="form-group position-relative">
                    <label for="contact-message">Message</label>
                    <textarea class="form-control contact-input" id="contact-message" name="contact-message" rows="6"></textarea>
                    <span id="contact-message-info" class="contact-require"></span>
                </div>
                <button type="button" class="btn btn-secondary btn-sm float-right mr-lg-2" id="buttonsend">Send</button>
                <span class="loading" style="display: none;">Please wait..</span>
            </form>
            <!-- Contact Form End -->

        </div>
        <!-- Content 1 End -->
        <!-- Content 2 -->
        <div class="col-lg-6">

            <h4 class="mb-lg-3 mb-3">Contact Information</h4>
            <p>similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
            <div class="embed-responsive embed-responsive-4by3 mb-lg-3 mb-4">
                <!-- Google Map -->
                <iframe class="embed-responsive-item" src="https://maps.google.com/maps?q=jakarta&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen></iframe>
            </div>
            <ul class="list-unstyled">
                <!-- Contact Detail -->
                <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-home fa-lg mr-lg-2"></i> Jln. Damai menuju Syurga No. 14,Jakarta 20035,Indonesia</li>
                <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-phone fa-lg mr-lg-2"></i> +62 525625</li>
                <li class="border-bottom mb-lg-2 pb-lg-2 mb-2 pb-2"><i class="fa fa-envelope fa-lg mr-lg-2 mr-lg-2"></i> <a href="mailto:#">info@mydomain.com</a></li>
                <li><i class="fa fa-globe fa-lg mr-lg-2"></i> <a href="#">http://www.mydomain.com</a></li>
            </ul>
        </div>
        <!-- Content 2 End -->

    </div>
</div>
<!-- Content End -->
